<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\avika\Desktop\testing service\from 1;C:\Users\avika\Desktop\testing service\from 1" />
    <add key="OutputDir" value="C:\Users\avika\Desktop\testing service\to" />
    <add key="SourceName" value="ImageServiceSource" />
    <add key="LogName" value="ImageServiceLog" />
    <add key="ThumbnailSize" value="120" />
  </appSettings>
</configuration>